/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.page {
  font-family: var(--main-font-family);
  font-size: 18px;
  font-weight: normal;
  line-height: 23.4px;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}

.header {
  padding: var(--header-padding);
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;    
  min-block-size: 100vh;  
}

.decorated-zone::before {
  position: absolute;
  content: '';
  border-top: 1px solid var(--nav-color);
  border-right: 1px solid var(--nav-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: var(--header-padding); /*нужна функция calc*/
  inset-block-start: var(--header-padding);
}

.rec {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--nav-color);
  text-transform: uppercase;
  line-height: var(--main-line-height);
  font-size: var(--main-text-size);
  inset-inline-end: calc(var(--header-padding) + 9px); /*нужна функция calc*/
  inset-block-start: var(--header-padding); /*нужна функция calc*/
}

.rec::after {
  display: inline-block;
  content: '';
  inline-size: 9px;
  block-size: 9px;
  /*border: 20px solid rgba(255, 0, 112, 0.5);*/
  border-radius: 50%;
  background: var(--nav-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  padding: 1.5px 7px;
  gap: 10px;
}

.header__theme-menu-button {
  border-style: none;
  color: var(--nav-color);
  background-color: transparent;
  text-transform: lowercase;
}

.header__logo {
  justify-self: start;
  font-size: var(--font-size-logo);
  font-weight: bold;
  color: var(--header-logo-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
}

.text-block__title {
  background-color: var(--section-heading-color);
}

.decorated-zone::after {
  position: absolute;
  content: '';
  border-bottom: 1px solid var(--nav-color);
  border-left: 1px solid var(--nav-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: var(--header-padding); /*нужна функция calc*/
  inset-block-end: var(--header-padding);
}

.content {
  background-color: var(--main-bg-color);
}

.content-section__title {
  color: var(--section-heading-color);
}