/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  min-inline-size: 375px;
  max-inline-size: 1024px;
  font-family: var(--main-font-family);
  font-size: var(--main-text-size);
  font-weight: normal;
  line-height: var(--main-line-height);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
/*-------------------------------------------header--------------------------------------------------*/
.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;    
  min-block-size: 100vh;  
  padding: var(--header-padding);
}

.decorated-zone::before {
  position: absolute;
  content: '';
  border-top: 1px solid var(--nav-color);
  border-right: 1px solid var(--nav-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: var(--header-padding);
  inset-block-start: var(--header-padding);
}

.rec {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  text-transform: uppercase;
  inset-inline-end: calc(var(--header-padding) + 9px);
  inset-block-start: calc(var(--header-padding) + 2px); 
}

.rec::after {
  display: block;
  content: '';
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background: var(--accent-color);
  filter: drop-shadow(0 0 4px var(--accent-color));
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 3.5px 13px;
  border-style: none;
  font-family: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: 18px;
  color: var(--nav-color);
  background-color: transparent;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  
  outline: 1px solid currentColor;
}

button.disabled {
  pointer-events: none;
}

:focus {
  outline: none;
}

.heading {/*общий стиль для LOGO h1*/
  font-size: var(--font-size-logo);
  font-weight: bold;
  color: var(--header-logo-color);
  line-height: 83%;
}

.header__logo {/*тень для header logo*/
  justify-self: start;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {/*фон для загловков*/
  background-color: var(--accent-color);
  color: var(--main-heading-color);
}

.decorated-zone::after {
  position: absolute;
  content: '';
  border-bottom: 1px solid var(--nav-color);
  border-left: 1px solid var(--nav-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: var(--header-padding);
  inset-block-end: var(--header-padding);
}
/*--------------------------------------------main---------------------------------------------------*/
.content {
  padding-inline: var(--header-padding);
  padding-block: var(--content-padding);
  background-color: var(--main-bg-color);
}

.content-section__title {/*стили заголовков h2*/
  padding-block-end: 20px;
  font-weight: bold;
  font-size: inherit;
  color: var(--section-heading-color);
}

.content-section:not(:last-child) {
  padding-block-end: var(--section-padding);
}

.text-block:not(:last-child) {
  padding-block-end: 20px;
}

.title {  
  font-weight: bold;
  font-size: inherit;
}

.title-normal {
  font-weight: normal;
}

.text-block__paragraf {
  padding-block-start: 9px;
  color: var(--main-text-color);
}

.text-block__paragraf a {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
}

/*------------------------Блок с изо.--------------------------*/
.grid-images {
  display: grid;
  gap: 10px;
  grid-template-columns: 100%;
}

.grid__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*-------------------------------------------footer--------------------------------------------------*/
.footer {
  display: grid;
  padding: var(--header-padding);
  position: relative;      
  min-block-size: 100vh; 
  background-color: var(--main-bg-color);
}

.footer__logo {
  justify-self: center;
  align-self: center;
  text-shadow: none;
}
/*------------------------------------------@media---------------------------------------------------*/
@media (width >= 768px) {
  .header__theme-menu-button:hover {
    outline: 1px solid var(--outline-color-hover);
  }
  
  .header__theme-menu-button:focus-visible { 
    border-bottom: 1px solid currentColor;
    padding-bottom: 2.5px;
  }

  .header {
    grid-template-rows: 1fr min-content 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .header__theme-menu {
    grid-column: 2/3;
  }

  .header__logo {
    position: relative;
    inset-inline-start: calc(-1 * var(--header-padding));
    grid-column: 1/3;
  }

  .header .title {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  .content-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .content-section__title{
    padding: 0;
  }
  .questions .text-blocks {
    grid-column: 2/4;
  }
  
  .reasons .text-blocks {
    grid-column: 1/4;
    grid-row: 2/3;
  }

  .advices .text-blocks{
    grid-column: 2/4;
  }

  .grid-images .title {
    grid-column: 1/4;
  }
  img:nth-of-type(1) {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  img:nth-of-type(2) {
    grid-column: 3;
    grid-row: 2/4;
  }

  img:nth-of-type(3) {
    grid-column: 1;
    grid-row: 3/5;
  }

  img:nth-of-type(4) {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  img:nth-of-type(5) {
    grid-column: 2/4;
    grid-row: 4;
  }

  .text-block__paragraf a:hover {
    border-bottom: 1px solid currentColor;
    cursor: none;
  }
  
  .text-block__paragraf a:focus-visible {
    outline: 1px solid currentColor;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    grid-column: 1/3;
    justify-self: center;
    align-self: start;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
  }

  .reasons .text-blocks {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .reasons .text-block {
    padding: 0;
  }
}