/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #FF0070;
  --main-bg-color: #000028;
  --main-text-color: #F1B2CE;
  --main-heading-color: #000028;
  --section-heading-color: #FF0070;
  --nav-color: #FF0070;
  --outline-color-hover: rgba(255, 113, 102, .4);
  --header-logo-color: #DB00FF;
  --footer-logo-color: #DB00FF;
  --bg-image: url(../images/cover-image-dark.png);
  --main-font-family: 'IBM Plex mono', monospace;
  --main-text-size: 18px;
  --main-line-height: 23.4px;
  --font-size-logo: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);/*Заменять для десктопов и планшетов @media (clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) )*/
  --header-padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  --content-padding: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);
  --section-padding: clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem);
}


@media (width >= 768px) {
  :root {
    --font-size-logo: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}